.slider1 {
    width: 45%;
    margin: auto;
    overflow: hidden;

}
.slider1 ul{
    display: flex;
    padding: 0%;
    width: 300%;
     animation: cambio 15s infinite;
     animation-direction: alternate;
     animation-timing-function: ease-in;
}
.slider1 li{
    width: 100%;
    list-style: none;
}
.slider1 img{
    width: 70%;
}
@keyframes cambio{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}